{% extends "base.html" %}
{% block content %}
<div class="container mt-5 text-center">
    <h3>Enter Verification Code</h3>
    <form method="POST" class="d-inline-block mt-3">
        <input type="text" name="otp_code" required>
        <input type="text" name="otp_code" class="form-control text-center mb-3" placeholder="000000" maxlength="6" style="letter-spacing: 5px; font-size: 24px;" required>
        <button type="submit" class="btn btn-success px-5">Verify Email</button>
    </form>
</div>
{% endblock %}